// PLUMBER - Easy baseline grids with SASS
// https://jamonserrano.github.io/plumber-sass
// Copyright 2016 Viktor Honti
// MIT License

// Additions: https://github.com/rhysburnie/plumber-sass
// Rhys Burnie 2017
// * $leading-property added - when set to padding
//   the leading is addded to the calculated padding
//   rather than margin (useful for things like table cells)
// * -plumber-ensure-variable function - return default value if current is null
// * -plumber-validate - makes it easier to create third party
//    extensions withought needing to know the validation logic

@mixin plumber(
	$font-size: null,
	$line-height: null,
	$leading-top: null,
	$leading-bottom: null,
	$grid-height: null,
	$baseline: null,
	$use-baseline-origin: null,
	$leading-property: null
) {
	// *** VALIDATE PARAMETERS ***
	$font-size: -plumber-ensure-variable(font-size, $font-size);
	$line-height: -plumber-ensure-variable(line-height, $line-height);
	$leading-top: -plumber-ensure-variable(leading-top, $leading-top);
	$leading-bottom: -plumber-ensure-variable(leading-bottom, $leading-bottom);
	$grid-height: -plumber-ensure-variable(grid-height, $grid-height);
	$baseline: -plumber-ensure-variable(baseline, $baseline);
	$use-baseline-origin: -plumber-ensure-variable(use-baseline-origin, $use-baseline-origin);
	$leading-property: -plumber-ensure-variable(leading-property, $leading-property);

	// extension friendly validation
	$validate: -plumber-validate(
		$font-size,
		$line-height,
		$leading-top,
		$leading-bottom,
		$grid-height,
		$baseline,
		$use-baseline-origin,
		$leading-property
	);

	// *** CALCULATE BASELINE CORRECTION ***
	// the distance of the original baseline from the bottom
	$baseline-from-bottom: ($line-height - $font-size) / 2 + ($font-size * $baseline);
	// the corrected baseline will be on the nearest gridline
	$corrected-baseline: round($baseline-from-bottom);
	// the difference between the original and the corrected baseline
	$baseline-difference: $corrected-baseline - $baseline-from-bottom;

	// if baseline origin is used for leadings substract the distance of the baseline from the edges
	@if $use-baseline-origin == true {
		$leading-top: $leading-top - ($line-height - $corrected-baseline);
		$leading-bottom: $leading-bottom - $corrected-baseline;
	}

	// *** CALCULATE FONT SIZE AND LINE HEIGHT
	$font-size: $font-size * $grid-height;
	$line-height: $line-height * $grid-height;

	// *** CALCULATE MARGINS AND PADDINGS ***
	$padding-top: null;
	$margin-top: null;
	$margin-bottom: null;
	$padding-bottom: null;

	@if $baseline-difference < 0 {
		// add top leading
		$margin-top: $leading-top * $grid-height;
		// push the baseline down to the next gridline
		$padding-top: - $baseline-difference * $grid-height;
		// add the remaining distance to reach the next gridline
		$padding-bottom: (1 + $baseline-difference) * $grid-height;
		// add bottom leading and remove the 1 excess grid height that comes from pushing down
		$margin-bottom: ($leading-bottom - 1) * $grid-height;
	} @else {
		// add top leading and remove the 1 excess grid height that comes from pulling up
		$margin-top: ($leading-top - 1) * $grid-height;
		// pull the baseline up to the previous gridline
		$padding-top: (1 - $baseline-difference) * $grid-height;
		// add the remaining distance to reach the next gridline
		$padding-bottom: $baseline-difference * $grid-height;
		// add bottom leading
		$margin-bottom: $leading-bottom * $grid-height;
	}

	// round pixel values to decrease browser inconsistencies
	@if unit($grid-height) == "px" {
		$line-height: -plumber-round($line-height);
		$margin-top: -plumber-round($margin-top);
		$padding-top: -plumber-round($padding-top);
		$padding-bottom: -plumber-round($padding-bottom);
		$margin-bottom: -plumber-round($margin-bottom);
	}

	// *** CSS OUTPUT ***
	font-size: $font-size;
	line-height: $line-height;
  @if $leading-property == padding {
    padding-top: $padding-top + $margin-top;
    padding-bottom: $padding-bottom + $margin-bottom;
  } @else {
    margin-top: $margin-top;
  	padding-top: $padding-top;
  	padding-bottom: $padding-bottom;
  	margin-bottom: $margin-bottom;
  }
}

// *** DEFAULTS ***
// Do not change it here, use the plumber-set-defaults mixin instead!
$-plumber-defaults: (
	font-size: 2,
	line-height: 3,
	leading-top: 0,
	leading-bottom: 0,
	grid-height: 1rem,
	baseline: null,
	use-baseline-origin: false,
	leading-property: margin,
) !default;

// Merge provided settings into the defaults map
@mixin plumber-set-defaults($defaults...) {
	$-plumber-defaults: map-merge($-plumber-defaults, keywords($defaults)) !global;
}

// Get a default value
@function -plumber-get-default($key) {
	@return map-get($-plumber-defaults, $key);
}

// Return the $value or the default
@function -plumber-ensure-variable($key, $value) {
	@if not $value {
		$value: -plumber-get-default($key);
	}
	@return $value;
}

// Check if a value is a non-negative integer
@function -plumber-is-integer($value) {
	@return (unitless($value) and $value == round($value));
}

// Round value to the nearest quarter pixel
// This provides reasonable precision and prevents grid creep (by fractions adding up) in most browsers
@function -plumber-round($value) {
	@return round($value * 4) / 4;
}

// extension friendly validation
@function -plumber-validate(
	$font-size,
	$line-height,
	$leading-top,
	$leading-bottom,
	$grid-height,
	$baseline,
	$use-baseline-origin,
	$leading-property
) {
	@if not unitless($font-size) or $font-size <= 0 {
		@error '$font-size parameter must be a positive unitless number, got #{$font-size} instead';
	}
	@if not unitless($line-height) or $line-height != round($line-height) or $line-height < 1 {
		@error '$line-height parameter must be a positive unitless integer, got #{$line-height} instead';
	}
	@if not -plumber-is-integer($leading-top) {
		@error '$leading-top parameter must be a non-negative integer, got #{$leading-top} instead.';
	}
	@if not -plumber-is-integer($leading-bottom) {
		@error '$leading-bottom parameter must be a non-negative integer, got #{$leading-bottom} instead';
	}
	@if unitless($grid-height) or $grid-height < 0 {
		@error '$grid-height parameter must be a positive unit, got #{$grid-height} instead';
	}
	@if not $baseline {
		@error '$baseline must be passed as a parameter or defined in defaults';
	} @else if not (unitless($baseline) and $baseline >= 0 and $baseline < 1) {
		@error '$baseline parameter must be a unitless fraction between 0 and 1, got #{$baseline} instead';
	}
	@if type-of($use-baseline-origin) != bool {
		@error '$use-baseline-origin parameter must be Boolean, got #{$use-baseline-origin} instead';
	}
	@if $leading-property != margin {
		@if $leading-property != padding {
			@error '$leading-propery paramater must be either margin or padding, got #{$leading-property} instead';
		}
	}
  // will only return if no errors thrown
  // it does't really serve a purpose, but a function
  // makes validation consumable to extensions without
  // the need to know the logic
	@return true;
}
